@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px;
    height: 100%;
    font-family: sans-serif;
}

h1{
    font-size: 50px;
}

.inputLines{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 25px;
    margin-top: 70px;
    font-size: 35px;
}

.inputLines >input{
    font-size: 35px;
    padding: 10px;
    margin-top: 30px;
}


button{
    font-size: 30px;
    padding: 10px;
    background-color:lightseagreen;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px rgb(0, 0, 0);
    width: 150px;
    margin-top: 40px;
    margin-left: 30px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(38, 201, 255);
    color: ghostwhite;
}

a{
    color: black;
    font-size: 35px;
}

ul{
    list-style: none;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 600px;
}

.homelink{
    margin-top: 50px;
    margin-left: 20px
    
}

li{
    margin: 25px;
    font-size: 20px;
}

li > a{
    padding: 30px;
    text-decoration: none;
}

.option,  .select{
	font-size: 30px;
	padding: 5px;
	margin-top:20px;
}	

